{% extends "teacher/teacher_base.html" %}
{% load static %}
{% load i18n %}
{% block teacher_content %}
    {% trans "Wähle ein Modul" as choose_lesson %}
    {% trans "und einen Raumnamen" as choose_room_name %}
    {% trans "Erstellen" as create_room %}
    {% trans "Raum existiert bereits" as room_exists %}
    {% trans "Kein Modul verfügbar" as no_module %}

    <div class="container-fluid h-100" style="flex: 1 0 auto;" xmlns="http://www.w3.org/1999/html">
        <form id="joinForm" method="post">
            <div class="row justify-content-center pt-3 text-center">
                <div class="col-md-6">
                    <h3 class="text-dark" id="warn_choose_lesson">{{ choose_lesson }}</h3>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-md-6">
                    <input type="hidden" name="lesson" id="module_choice">
                    <div class="list-group overflow-auto list-group-scrollable" id="lessons">
                        {% for m in lessons %}
                            <div class="btn-info unselectable list-group-item list-group-item-action flex-column align-items-start"
                                 type="button">
                                <div class="d-flex w-100 justify-content-center">
                                    <h5 id="lesson_name" data-name="{{ m.name }}"
                                        class="mb-1">{{ m.name|lower|capfirst }}</h5>
                                </div>
                                <p class="mb-1"></p>
                                <h6 class="mb-1">{{ m.description }}</h6>
                                <p class="mb-1"></p>
                            </div>
                        {% empty %}
                            <a href="#"
                               class="list-group-item list-group-item-action flex-column align-items-start active">
                                <div class="d-flex w-100 justify-content-center">
                                    <h5 class="mb-1">{{ no_module }}</h5>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-md-6">
                    <h3 id="warn_room" class="text-dark">{{ choose_room_name }}</h3>
                </div>
            </div>
            <div class="row justify-content-center text-center" id="room_name_div">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input id="room_name" oninput="" type="text" name="room_name" maxlength="50"
                               class="form-control"
                               aria-label="room" aria-describedby="button-room">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick=""
                                    id="button-room">{{ create_room }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center text-center" style="display: none" id="room_name_exists">
                <div class="col-md-6">
                    <h6 class="text-danger">{{ room_exists }}</h6>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="list-group overflow-auto" id="warnings">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block teacher-content-scripts %}
    {% trans "Bitte wähle ein Modul" as lesson_heading %}
    {% trans "Bitte wähle einen Raumnamen" as room_choose %}
    {% trans "Der Raumname darf nur Buchstaben, Zahlen, - und . enthalten" as room_invalid_input %}
    <script>
        $(document).ready(function () {
            $("#joinForm")[0].reset();
            // Validate room with 1s delay
            let wto;
            $("#room_name").on('input', function () {
                clearTimeout(wto);
                wto = setTimeout(function () {
                    validateRoomName();
                }, 1000);
            });
            $("#button-room").click(createRoom);
            $(".unselectable").click(function () {
                lessonItemClicked($(this))
            })
        });

        lessonItemClicked = function (item) {
            $('.unselectable').removeClass('active');
            item.toggleClass('active');
            removeLessonWarning()
        };

        function getRoomName() {
            return $('#room_name').val();
        }

        validateRoomName = function () {
            if (!showRoomWarnings()) return;
            const room = $('#room_name');
            $.ajax({
                url: "{% url 'validate_room' %}",
                data: room.serialize(),
                dataType: 'json',
                /** @namespace data.exists **/
                success: function (data) {
                    if (data.exists) {
                        $('#room_name_exists').show();
                        $('#button-room').prop('disabled', true);
                    } else {
                        $('#room_name_exists').hide();
                        $('#button-room').prop('disabled', false);
                    }
                }
            });
        };

        function showLessonWarning() {
            removeLessonWarning();
            const warnings = $('#warnings');
            if (!getLesson()) {
                $('#warn_choose_lesson').addClass('text-danger').removeClass('text-dark');
                warnings.append('<li><h6 class="d-inline text-danger" id="lesson-warning">{{ lesson_heading }}</h6></li>');
                return true;
            }
            return false;
        }

        function showRoomWarnings() {
            removeRoomWarnings();
            const warnings = $('#warnings');
            const roomName = $('#room_name').val().trim();
            if (!roomName) {
                $('#warn_room').addClass('text-danger').removeClass('text-dark');
                warnings.append('<li><h6 class="d-inline text-danger room-warning">{{ room_choose }}</h6></li>');
                return true;
            } else if (roomName.match(/[^A-Za-z0-9.\-]/)) {
                $('#warn_room').addClass('text-danger').removeClass('text-dark');
                warnings.append('<li><h6 class="d-inline text-danger room-warning">{{ room_invalid_input }}</h6></li>');
                return true;
            }
            return false;
        }

        function removeRoomWarnings() {
            $(".room-warning").parent().remove();
            $('#warn-room').removeClass('text-danger').addClass('text-dark');
        }

        function removeLessonWarning() {
            $("#lesson-warning").parent().remove();
            $('#warn_choose_lesson').removeClass('text-danger').addClass('text-dark');
        }

        function getLesson() {
            return $('#lessons').find('.unselectable.active').find('#lesson_name').data('name');
        }

        createRoom = function () {
            const room_name = getRoomName();
            const lesson = getLesson();
            const lessonWarning = showLessonWarning();
            const roomWarning = showRoomWarnings();
            if (lessonWarning || roomWarning) return;
            $('#module_choice').val(lesson);
            $('#room_name').val(room_name);
            $.ajax({
                url: "{% url 'teacher_create_room' %}",
                type: 'post',
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                dataType: 'json',
                data: $("#joinForm").serialize(),
                success: function () {
                    location.href = "{% url 'overview' %}" + room_name;
                },
                /** @namespace data.responseJSON.err **/
                error: function (data) {
                    console.log(data.responseJSON.err);
                }
            });
        }
        ;
    </script>
{% endblock %}
