{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static '/teacher/style.css' %}">
{% endblock %}
{% block title %}DK ☰ {{ room_name }}{% endblock %}
{% block content %}
    {% load i18n %}
    <!-- Strings -->
    {% trans "Kein Raum ausgewählt" as no_room_selected %}
    {% trans "Wähle oder erstelle einen Raum um anzufangen" as start_text %}
    {% trans "Raum existiert bereits. Bitte wähle einen anderen Namen oder öffne den Raum über die Eingabe ganz unten." as exists %}
    <!-- Strings end -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <span class="navbar-brand mb-0 h1">Datenklaus</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span class="h1 navbar-brand text-white position-fixed"
              style="left: 50%; transform: translateX(-50%);">{{ lesson }}</span>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Übersicht <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Auswertung</a>
                </li>
            </ul>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if room_name %} {{ room_name }} {% else %} {{ no_room_selected }} {% endif %}
                </button>
                <div class="dropdown-menu dropdown-menu-right" id="dropDownRooms" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" type="button" id="createNewRoom">Neuen Raum erstellen</button>
                    <div id="dropdownDivider" class="dropdown-divider"></div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid" style="flex: 1 0 auto;" xmlns="http://www.w3.org/1999/html">
        <div id="controlsRow" {% if not room_name %} style="display: none" {% endif %} >
            <div class="row justify-content-center text-center pt-2">
                <div class="col-auto">
                    <h3 style="display: inline-block">Steuerung</h3>
                    <a tabindex="0" class="btn btn-sm align-top" style="cursor: pointer"
                       role="button" id="control-popover" title="Steuerung">
                        <img class="img-fluid w-75" src={% static "round-help-24px.svg" %}>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto border bg-white">
                    <button class="btn pr-4" id="button-play">
                        <svg xmlns="http://www.w3.org/2000/svg" height="25" width="25" viewBox="0 0 8 8">
                            <path d="M0 0v6l6-3-6-3z" transform="translate(1 1)"/>
                        </svg>
                    </button>
                    <button class="btn pr-4" id="button-pause">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 8 8">
                            <path d="M0 0v6h2v-6h-2zm4 0v6h2v-6h-2z" transform="translate(1 1)"/>
                        </svg>
                    </button>
                    <button class="btn pr-4" id="button-stop">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 8 8">
                            <path d="M0 0v6h6v-6h-6z" transform="translate(1 1)"/>
                        </svg>
                    </button>
                    <button class="btn" id="button-leave" onclick="window.location.href = '{% url 'teacher_leave' %}'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 8 8">
                            <path d="M3 0v1h4v5h-4v1h5v-7h-5zm-1 2l-2 1.5 2 1.5v-1h4v-1h-4v-1z"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="row justify-content-center pt-3">
                <div class="col-auto text-center">
                    <h3>Verbundene Schüler*innen</h3>
                </div>
            </div>
            <div class="row pt-2 justify-content-center d-flex" id="students">
            </div>
        </div>
        <div class="row pt-2 justify-content-center align-items-center" id="roomStartText">
            {% if not room_name %}
                <div class="col-auto text-center text-black-50">
                    {{ start_text }}
                </div>
            {% endif %}
        </div>
        <form id="joinForm" method="post" style="display: none">
            <div class="row justify-content-center pt-3 text-center">
                <div class="col-md-6">
                    <h3 class="text-info" id="choose_lesson">Wähle ein Modul</h3>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-md-6">
                    <input type="hidden" name="lesson" id="module_choice">
                    <div class="list-group overflow-auto list-group-scrollable" id="lessons">
                        {% for m in lessons %}
                            <button class="list-group-item list-group-item-action flex-column align-items-start"
                                    type="button">
                                <div class="d-flex w-100 justify-content-center">
                                    <h5 id="lesson_name" data-name="{{ m.name }}"
                                        class="mb-1">{{ m.name|lower|capfirst }}</h5>
                                </div>
                                <p class="mb-1"></p>
                                <h6 class="mb-1">{{ m.description }}</h6>
                                <p class="mb-1"></p>
                            </button>
                        {% empty %}
                            <a href="#"
                               class="list-group-item list-group-item-action flex-column align-items-start active">
                                <div class="d-flex w-100 justify-content-center">
                                    <h5 class="mb-1"> Keine Module verfügbar</h5>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    </input>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-md-6">
                    <h3 id="room_name_text" class="text-info">einen Raumnamen</h3>
                </div>
            </div>
            <div class="row justify-content-center text-center" id="room_name_div">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input id="room_name" type="text" name="room_name" maxlength="50" class="form-control"
                               placeholder="{{ random_room }}"
                               aria-label="room" aria-describedby="button-room">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center text-center" style="display: none" id="room_name_exists">
                <div class="col-md-6">
                    <h6 class="text-danger">{{ exists }}</h6>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-md-6">
                    <h3 id="password_text" class="text-info">und ein Passwort</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input id="room_password" name="room_password" type="text" maxlength="10" class="form-control"
                               placeholder="Password eingeben"
                               aria-label="room"
                               aria-describedby="button-room">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-room">Start</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" style="display: none">
                <div class="list-group overflow-auto" id="warnings">
                </div>
            </div>
        </form>

    </div>
{% endblock %}
{% block handlebars-template %}
    <script id="connected-students" type="text/x-handlebars-template">
        {% verbatim %}
        <div class="col-auto btn" style="min-width: 250px" type="button">
            <div class="mb-2 card" style="width: 250px">
                <div class="card-body text-monospace">
                    <h5 class="mb-1 text-info">{{ name }}</h5>
                    <p class="mb-1"></p>
                    <h6 class="mb-1">{{ progress }}</h6>
                    <p class="mb-1"></p>
                </div>
            </div>
        </div>
        {% endverbatim %}
    </script>
    <!-- Template for the controls popovers -->
    <script id="popover-template" type="text/x-handlebars-template">
        <div class="list-group pop overflow-hidden">
            <ul class="pl-3">
                <div class="row">
                    <div class="col-auto pr-0">
                        <img class="img-fluid border p-1" src="{% static 'open-iconic/svg/media-play.svg' %}"
                             alt="Pause">
                    </div>
                    <div class="col text-left pl-2">
                        Startet oder setzt das Modul fort.
                    </div>
                </div>
            </ul>
            <ul class="pl-3">
                <div class="row">
                    <div class="col-auto pr-0">
                        <img class="img-fluid border p-1" src="{% static 'open-iconic/svg/media-pause.svg' %}"
                             alt="Pause">
                    </div>
                    <div class="col text-left pl-2">
                        Pausiert das Modul für alle Schüler*innen.
                    </div>
                </div>
            </ul>
            <ul class="pl-3">
                <div class="row">
                    <div class="col-auto pr-0">
                        <img class="img-fluid border p-1" src="{% static 'open-iconic/svg/media-stop.svg' %}"
                             alt="Stop">
                    </div>
                    <div class="col text-left pl-2">
                        Beendet das Modul.
                    </div>
                </div>
            </ul>
            <ul class="pl-3">
                <div class="row">
                    <div class="col-auto pr-0">
                        <img class="img-fluid border p-1" src="{% static 'open-iconic/svg/account-logout.svg' %}"
                             alt="Raum verlassen">
                    </div>
                    <div class="col text-left pl-2">
                        Raum verlassen.
                    </div>
                </div>
            </ul>
        </div>
    </script>
    <!-- Template end -->
{% endblock %}
{% block scripts %}
    <script>const roomName = '{{ room_name }}';
    let state = -1;</script>
    <script src="{% static "teacher/js/room.js" %}"></script>
{% endblock %}
</body>
</html>