{% extends "teacher/base.html" %}
{% block content %}
    {% load static %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h4>Datenklaus</h4>
                <img class="image-fluid rounded mx-auto d-block" src="{% static 'teacher/images/splash.jpg' %}"
                     alt="" width="100%">
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <input id="room_name" type="text" class="form-control" placeholder="{{ random_room }}"
                           aria-label="room"
                           aria-describedby="button-room">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-room">Start</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static "teacher/js/rango-jquery.js" %}"></script>
{% endblock %}
</body>
</html>
