{% extends "teacher/teacher_base.html" %}
{% load static %}
{% block teacher_content %}
    {% load i18n %}
    <!-- Strings -->
    {% trans "Verbundene Schüler*innen" as connected_students_string %}
    <!-- Strings end -->
    <div class="container-fluid" style="flex: 1 0 auto;" xmlns="http://www.w3.org/1999/html">
        <div class="row justify-content-center pt-3">
            <div class="col-auto text-center text-info">
                <h2>{{ connected_students_string }}</h2>
            </div>
        </div>
        <div class="row pt-2 justify-content-center d-flex row-same-height" id="students">
        </div>
    </div>
    <div class="modal fade bg-dark-st" id="removeStudentModal" tabindex="-1" role="dialog"
         aria-labelledby="rmStudent"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeModalTitle"></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zurück</button>
                    <button type="button" class="btn btn-danger" id="removeButtonYes">Ja
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block teacher-content-scripts %}
    <script id="connected-students" type="text/x-handlebars-template">
        {% verbatim %}
        {{#if is_finished}}
        <div class="unselectable bg-danger col-sm-11 col-md-3 col-xl-2 p-1 m-1 rounded">
        {{else if is_syncing}}
        <div class="unselectable bg-warning col-sm-11 col-md-3 col-xl-2 p-1 m-1 rounded">
        {{else}}
        <div class="unselectable bg-success col-sm-11 col-md-3 col-xl-2 p-1 m-1 rounded">
        {{/if}}
            <!--suppress SyntaxError -->
            <div class="card w-100 h-100 bg-dark border-0">
                <div class="card-body text-monospace text-left">
                    <i type="button" id="removeButton" onclick="removeButtonClicked('{{ id }}')"
                       class="fas fa-user-times position-absolute"
                       style="top: 0.75rem; right: 0.75rem; color: #e14423"></i>
                    <h2 class="mb-1 text-info">{{ name }}</h2>
                    <h6 class="text-light">{{ progress }}</h6>
                </div>
            </div>
        </div>
        {% endverbatim %}
    </script>
    <script>
        // noinspection JSUnusedGlobalSymbols
        function removeButtonClicked(name) {
            const modal = $("#removeStudentModal");
            $("#removeModalTitle").html("Bist du dir sicher dass du " + name.bold() + " aus dem Raum werfen willst?");
            modal.modal();
            $("#removeButtonYes").click(function () {
                removeStudent(name);
                modal.modal("hide");
            });
        }

        function removeStudent(student) {
            $.ajax({
                url: "{% url 'remove_student' %}",
                data: {'room_name': "{{room_name }}", 'student': student},
                dataType: 'json',
                success: function () {
                    updateStudentList();
                },
                error: function (data) {
                    // TODO: remove?
                    console.log(data.error)
                }
            })
        }

        updateStudentList = function () {
            $.ajax({
                url: "{% url 'students' %}",
                data: {'room_name': "{{ room_name }}"},
                dataType: 'json',
                success: function (data) {
                    const students = $("#students");
                    students.empty(); // remove old options
                    const source = document.getElementById("connected-students").innerHTML;
                    const template = Handlebars.compile(source);
                    /** @namespace data.students **/
                    $.each(data.students, function (index, value) {
                        students.append(template(value));
                    },);
                },
                error: function (data) {
                    // TODO: remove?
                    console.log(data.error)
                }
            })
        };
        updateStudentList();
        setInterval(updateStudentList, 2000);
    </script>
{% endblock %}
