{% extends "base.html" %}
{% block content %}
    {% load static %}
    <div class="container text-center" xmlns="http://www.w3.org/1999/html">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>Raum <span style="color:blue">{{ room_name }}</span></h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h3 class="text-dark" style="display:inline-block;">Aktives Modul:</h3>
                <a href="#">
                    <h4 style="display: inline-block" class="mb-1 text-primary">{{ module|lower|capfirst }}</h4>
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="">
                    <h3 style="display: inline-block">Steuerung</h3>
                    <a tabindex="0" class="btn btn-sm btn-outline-dark align-top rounded-circle bg-white text-dark"
                       style="cursor: pointer"
                       role="button" data-toggle="popover" title="Steuerung">
                        <div class="small text-monospace text-primary"><b>?</b></div>
                    </a>
                </div>
                <div class="list-group list-group-horizontal">
                    <button class="list-group-item list-group-item-action flex-column">
                        <img class="img-fluid" style="height: 75% "
                             src={% static "open-iconic/svg/media-pause.svg" %} alt="Pause">
                    </button>
                    <button class="list-group-item list-group-item-action flex-column">
                        <img class="img-fluid" style="height: 75% "
                             src={% static "open-iconic/svg/media-stop.svg" %} alt="Stop">
                    </button>
                    <button class="list-group-item list-group-item-action flex-column">
                        <img class="img-fluid" style="height: 75% "
                             src={% static "open-iconic/svg/document.svg" %} alt="Stop">
                    </button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h3>Verbundene Schüler*innen</h3>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="row justify-content-center">
                            <div class="list-group overflow-auto" id="students">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block handlebars-template %}
    {% verbatim %}
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 text-info">{{ name }}</h5>
            <small> {{ expiry }}</small>
        </div>
        <p class="mb-1"></p>
        <h6 class="mb-1">{{ progress }}</h6>
        <p class="mb-1"></p>
        <small>ID: {{ session }}</small>
    </a>
    {% endverbatim %}
{% endblock %}
{% block scripts %}
    <script id="popover-template" type="text/x-handlebars-template">
        <div class="list-group pop">
            <ul class="pl-3">
                <div class="row">
                    <div class="col-auto pr-0">
                        <img class="img-fluid border p-1" src="{% static 'open-iconic/svg/media-pause.svg' %}"
                             alt="Pause">
                    </div>
                    <div class="col text-left pl-2">
                        Pausiert das Modul für alle Schüler*innen
                    </div>
                </div>
            </ul>
            <ul class="pl-3">
                <div class="row">
                    <div class="col-auto pr-0">
                        <img class="img-fluid border p-1" src="{% static 'open-iconic/svg/media-stop.svg' %}"
                             alt="Stop">
                    </div>
                    <div class="col text-left pl-2">
                        Beendet das Modul
                    </div>
                </div>
            </ul>
            <ul class="pl-3">
                <div class="row">
                    <div class="col-auto pr-0">
                        <img class="img-fluid border p-1" src="{% static 'open-iconic/svg/document.svg' %}"
                             alt="Auswertung">
                    </div>
                    <div class="col text-left pl-2">
                        Grafische Auswertung
                    </div>
                </div>
            </ul>
        </div>
    </script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({
                html: true,
                // trigger: 'focus',
                content: function () {
                    const template = Handlebars.compile($("#popover-template").html());
                    return (template())
                },
            });
        })

        function module_selected(name) {
            $.ajax({
                method: "POST",
                url: "",
                data: {"type": "module", "module": name},
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (data) {
                    const $el = $("#active_module");
                    $el.empty();
                    console.log(data)
                    $el.append("<h5>" + name + "</h5>")
                }
            })
        };

        function update() {
            $.ajax({
                method: "POST",
                url: "",
                data: {"type": "students"},
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (data) {
                    const $el = $("#students");
                    $el.empty(); // remove old options
                    console.log(data)
                    const source = document.getElementById("student-status-template").innerHTML;
                    const template = Handlebars.compile(source);

                    $.each(data.students, function (index, value) {
                        const htmlOutput = template(value);
                        $el.append(htmlOutput)
                    });
                }
            })
        };
        setInterval(update, 2000)
    </script>
{% endblock %}
</body>
</html>
