{% extends "teacher/base.html" %}
{% block content %}
    {% load static %}
    {% include "teacher/client-refresh.html" %}
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>Raum <span style="color:blue">{{ room_name }}</span></h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="list-group" id="clients">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://www.jsviews.com/download/jsrender.min.js"></script>
    <script src="{% static "teacher/js/rango-jquery.js" %}"></script>
    <script>
        function update() {
            $.ajax({
                method: "POST",
                url: "",
                dataType: 'json',
                contentType: 'json',
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (data) {
                    const $el = $("#clients");
                    $el.empty(); // remove old options
                    console.log(data)
                    const template = $.templates("#itemTemplate");
                    $.each(data.clients, function (index, value) {
                        const htmlOutput = template.render(value);
                        $el.append(htmlOutput)
                    });
                }
            })
        };
        setInterval(update, 15000)
    </script>
{% endblock %}

</body>
</html>
