{% extends "base.html" %}

{# Load static files#}
{% load static %}
{# Translations #}
{% load i18n %}

{# Load custom css (overwrites base.css) #}
{% block css %}
    <link rel="stylesheet" href="{% static 'base_style.css' %}">
    <link rel="stylesheet" href="{% static '/teacher/style.css' %}">
{% endblock %}

{# Translations #}
{% load i18n %}

{# Set page Title #}
{% block title %}DK ☰ {{ room_name }}{% endblock %}

{% block content %}
    <!-- Strings -->
    {% trans "Raum wählen" as no_room_selected %}
    {% trans "Modul abgeschlossen" as lesson_finished %}
    {% trans "Alle haben den nächsten Abschnitt erreicht" as section_synced %}
    {% trans "Um ein weiteres Modul zu starten, wähle eines aus der folgenden Liste" as choose_module %}
    {# Teacher navbar #}    {% trans "Modul abgeschlossen" as lesson_finished %}
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Datenklaus</span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                {% if room_name is not None %}
                    <li class="nav-item">
                        <a class="nav-link {% if is_overview %}active{% endif %}" id="button-overview"
                           href="{% url 'overview' %}">Übersicht <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if is_results %}active{% endif %}" id="button-auswertung"
                           href="{% url 'results' room_name %}">Auswertung</a>
                    </li>
                {% endif %}
            </ul>
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle text-dark" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if room_name %} {{ room_name }} {% else %} {{ no_room_selected }} {% endif %}
                </button>
                <div class="dropdown-menu dropdown-menu-right" id="dropDownRooms" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" type="button" href="{% url 'create' %}" id="createNewRoom">
                        Neuen Raum erstellen
                    </a>
                    <div id="dropdownDivider" class="dropdown-divider"></div>
                </div>
            </div>
        </div>
    </nav>

    {% if room_name %}
        <div class="container-fluid">
            <div class="row justify-content-center pt-2 bg-light">
                <div class="col text-dark align-self-center">
                    <h4 class="m-0 text-secondary"> Modul: <span id="roomLesson" class="text-dark">{{ lesson }}</span>
                    </h4>
                </div>

                <div class="col text-right m-1">
                    <button class="btn state-btn-play" id="button-play">
                        <i class="fas fa-play"></i>
                    </button>
                    <button class="btn state-btn-pause" id="button-pause">
                        <i class="fas fa-pause"></i>
                    </button>
                    <button class="btn state-btn-stop" id="button-stop">
                        <i class="fas fa-stop"></i>
                    </button>
                    <a tabindex="0" class="btn btn-sm text-secondary" style="cursor: pointer"
                       role="button" id="control-popover" title="Steuerung" data-trigger="hover">
                        <i class="fas fa-question"></i>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center pt-2 bg-light">
                <div class="col text-dark text-right" style="display: none" id="col-all-finished">
                    <h5 class="m-0 text-dark">Alle Schüler*innen haben das aktuelle Modul
                        abgeschlossen. Klicke <i class="text-warning" id="button-restart-lesson" onclick=""
                                                 style="cursor: pointer">hier</i> um ein
                        neues zu starten.
                    </h5>
                </div>
            </div>
            <div class="row justify-content-end bg-light pb-2">
                <div class="col text-right">
                    <span id="state-text" class="m-0 text-secondary"></span>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="lessonFinishedModal" tabindex="-1" role="dialog"
             aria-labelledby="lessonFinished" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h4 class="modal-title" id="exampleModalCenterTitle">{{ lesson_finished }}</h4>
                    </div>
                    <div class="modal-body">
                        <h5>{{ choose_module }}</h5>
                        <div class="list-group overflow-auto list-group-scrollable" id="lessons">
                            {% for m in lessons %}
                                <div class="btn-info unselectable lesson-list-item list-group-item list-group-item-action flex-column align-items-start"
                                     type="button">
                                    <div class="d-flex w-100 justify-content-center">
                                        <h5 id="lesson_name" data-name="{{ m.name }}"
                                            class="mb-1">{{ m.name|lower|capfirst }}</h5>
                                    </div>
                                    <p class="mb-1"></p>
                                    <h6 class="mb-1 text-center">{{ m.description }}</h6>
                                    <p class="mb-1"></p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="lesson-modal-dismiss" onclick=""
                                data-dismiss="modal">Später
                        </button>
                        <button type="button" id="lesson-modal-start" disabled class="btn btn-primary">Start</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="lessonSyncedModal" tabindex="-1" role="dialog"
             aria-labelledby="lessonFinished" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h4 class="modal-title" id="exampleModalCenterTitle">{{ section_synced }}</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="button-next-session-dismiss" onclick=""
                                ondata-dismiss="modal">Später
                        </button>
                        <button type="button" id="button-next-section" onclick="" id="lesson-modal-start"
                                class="btn btn-primary">Starte nächsten Abschnitt
                        </button>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    {% block teacher_content %}
    {% endblock %}
{% endblock %}

{% block scripts %}
    <!-- Template for the controls popovers -->
    <script id="popover-template" type="text/x-handlebars-template">
        <div class="list-group pop overflow-hidden">
            <div class="row">
                <div class="col-auto pb-1">
                    <i class="fas fa-play text-success"></i>
                </div>
                <div class="col text-left pl-1">
                    Startet oder setzt das Modul fort.
                </div>
            </div>
            <div class="row">
                <div class="col-auto pb-1">
                    <i class="fas fa-pause text-info"></i>
                </div>
                <div class="col text-left pl-1">
                    Pausiert das Modul für alle Schüler*innen.
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <i class="fas fa-stop text-danger"></i>
                </div>
                <div class="col text-left pl-1">
                    Beendet das Modul.
                </div>
            </div>
        </div>
    </script>

    <script>
        const cmds = {
            PLAY: 0,
            PAUSE: 1,
            STOP: 2,
        };

        const states = {
            CLOSED: 0,
            WAITING: 1,
            RUNNING: 2,
            PAUSED: 3,
        };
        let syncModalDismissed = false;
        let finishedModalDismissed = false;

        let state = {% if state %}{{ state }} {% else %} null {% endif %};

        $(document).ready(function () {
            getRooms();
            setInterval(getRooms, 2000);
            if (state == null)
                return;

            $("#button-play").click(function () {
                controlCommand($(this), cmds.PLAY, states.RUNNING)
            });
            $("#button-next-section").click(function () {
                controlCommand($("#button-play"), cmds.PLAY, states.RUNNING);
                syncModalDismissed = false;
                $("#lessonSyncedModal").modal('hide')
            });

            $("#button-next-session-dismiss").click(function () {
                syncModalDismissed = true;
                $("#lessonSyncedModal").modal('hide')
            });
            $("#lesson-modal-dismiss").click(function () {
                finishedModalDismissed = true;
                $("#lessonFinishedModal").modal('hide');
                $('#col-all-finished').show()
            });

            $("#lesson-modal-start").click(function () {
                const lesson = $('#lessons').find('.unselectable.active').find('#lesson_name').data('name');
                startNewLesson(lesson);
                finishedModalDismissed = true;
                $("#lessonFinishedModal").modal('hide');
                $('#col-all-finished').hide()
            });

            $('#button-restart-lesson').click(function () {
                $("#lessonFinishedModal").modal('show')
            });


            $("#button-pause").click(function () {
                controlCommand($(this), cmds.PAUSE, states.PAUSED)
            });
            $("#button-stop").click(function () {
                controlCommand($(this), cmds.STOP, states.CLOSED)
            });

            $('.popover-dismiss').popover({
                trigger: 'focus'
            });

            $('#control-popover').popover({
                html: true,
                content: function () {
                    const template = Handlebars.compile($("#popover-template").html());
                    return (template())
                },
            });

            $(".lesson-list-item").click(function () {
                lessonItemClicked($(this))
            });

            setStates();
            updateSyncState();
            setInterval(updateSyncState, 2000);
        });

        lessonItemClicked = function (item) {
            $('.lesson-list-item').removeClass('active');
            item.toggleClass('active');
            $('#lesson-modal-start').prop('disabled', false)
        };

        setStates = function () {
            $('#button-play').prop('disabled', state === states.RUNNING);
            $('#button-pause').prop('disabled', state === states.PAUSED);
            $('#button-stop').prop('disabled', state === states.CLOSED);
        };

        controlCommand = function (el, cmd, s) {
            el.blur();
            $.ajax({
                url: "{% url 'control' %}",
                data: {'room_name': "{{ room_name }}", 'cmd': cmd},
                dataType: 'json',
                success: function () {
                    state = s;
                    setStates()
                },
                error: function (jqXHR) {
                    // TODO: remove?
                    console.log(jqXHR.responseJSON.err)
                }
            })
        };

        startNewLesson = function (lesson) {
            $.ajax({
                url: "{% url "change_lesson" %}",
                data: {'room_name': "{{ room_name }}", 'lesson': lesson},
                dataType: 'json',
                success: function () {
                    $('#roomLesson').text(lesson);
                    controlCommand($("#button-play"), cmds.PLAY, states.RUNNING);
                    finishedModalDismissed = false
                },
                error: function (data) {
                    // TODO: remove?
                    console.log(data)
                }
            })
        };


        getRooms = function () {
            $.ajax({
                url: "{% url "rooms" %}",
                dataType: 'json',
                success: function (data) {
                    const list = $("#dropDownRooms");
                    const l = $('.dropdown-item[data-delete="true"]');
                    // Empty dropdown menu except static entries
                    $.each(l, function (i, v) {
                        v.remove();
                    });
                    /** @namespace data.rooms **/
                    $.each(data.rooms, function (index, room_name) {
                        list.append($('<button class="dropdown-item" data-delete="true"></button>').text(room_name).click(function () {
                            $('#dropdownMenuButton').text(room_name);
                            window.location.href = "{% url "overview" %}" + room_name
                        }));
                    })
                }
            })
        };

        updateSyncState = function () {
            $.ajax({
                url: "{% url 'sync' %}",
                data: {'room_name': "{{ room_name }}"},
                dataType: 'json',
                /** @namespace data.synced **/
                /** @namespace data.finished **/
                /** @namespace data.stateName **/
                success: function (data) {
                    if (data.synced || data.finished) {
                        state = states.PAUSED;
                        setStates();
                        if (data.finished && !finishedModalDismissed) {
                            $('#lessonFinishedModal').modal('show')
                        } else if (data.synced && !syncModalDismissed) {
                            $('#col-all-finished').hide();
                            $('#lessonSyncedModal').modal('show')
                        }
                    } else {
                        $("#state-text").text("");
                        $('#col-all-finished').hide()
                    }
                },
                error: function (data) {
                    // TODO: remove?
                    console.log(data)
                }
            })
        };

        createTestStudents = function () {
            $.ajax({
                url: "/teacher/test-students",
                data: {
                    'room_name': "{{room_name}}"
                },
                dataType: 'json',
                success: function () {
                    console.log("Test students created")
                },
                error: function (data) {
                    // TODO: remove?
                    console.log(data.error)
                }
            })
        };
    </script>
    <script src="{% static "teacher/js/room.js" %}"></script>
    {% block teacher-content-scripts %}
    {% endblock %}
    {% block teacher-room-control-scripts %}
    {% endblock %}
{% endblock %}
