{% extends "base.html" %}
{% block title %}Datenklaus ~ {{ room_name }}{% endblock %}
{% block content %}
    {% load static %}
    <div class="container" style="flex: 1 0 auto;" xmlns="http://www.w3.org/1999/html">
        <div class="row justify-content-center text-center">
            <div class="col">
                <h1>Raum <span style="color:blue">{{ room_name }}</span></h1>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col">
                <h3 class="text-dark" style="display:inline-block;">Aktives Modul:</h3>
                <a href="#">
                    <h4 style="display: inline-block" class="mb-1 text-primary">{{ module|lower|capfirst }}</h4>
                </a>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-auto">
                <h3 style="display: inline-block">Steuerung</h3>
                <a tabindex="0" class="btn btn-sm align-top" style="cursor: pointer"
                   role="button" data-toggle="popover" data-trigger="focus" title="Steuerung">
                    <img class="img-fluid w-75" src={% static "round-help-24px.svg" %}>
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto border bg-white">
                <button class="btn pr-4" id="button-pause">
                    <img class="img-fluid" style="min-height: 25px"
                         src={% static "open-iconic/svg/media-pause.svg" %} alt="Pause">
                </button>
                <button class="btn pr-4" id="button-stop">
                    <img class="img-fluid" style="min-height: 25px"
                         src={% static "open-iconic/svg/media-stop.svg" %} alt="Stop">
                </button>
                <button class="btn" id="button-charts">
                    <img class="img-fluid" style="min-height: 25px"
                         src={% static "open-iconic/svg/document.svg" %} alt="Stop">
                </button>
            </div>
        </div>
        <div class="row justify-content-center pt-2">
            <div class="col-auto text-center">
                <h3>Verbundene Schüler*innen</h3>
            </div>
        </div>
        <div class="row pt-2 justify-content-center" id="students">
        </div>
    </div>
{% endblock %}
{% block handlebars-template %}
    <script id="connected-students" type="text/x-handlebars-template">
        {% verbatim %}
        <div class="col-auto btn" type="button">
            <div class="d-inline-block mb-2 card">
                <div class="d-block card-body text-monospace">
                    <h5 class="mb-1 text-info">{{ name }}</h5>
                    <p class="mb-1"></p>
                    <h6 class="mb-1">{{ progress }}</h6>
                    <p class="mb-1"></p>
                    <small>ID: {{ session }}</small>
                </div>
            </div>
        </div>
        {% endverbatim %}
    </script>
    <script id="student-status-template" type="text/x-handlebars-template">
        {% verbatim %}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-info">{{ name }}</h5>
                <small> {{ expiry }}</small>
            </div>
            <p class="mb-1"></p>
            <h6 class="mb-1">{{ progress }}</h6>
            <p class="mb-1"></p>
            <small>ID: {{ session }}</small>
        </a>
        {% endverbatim %}
    </script>
    <!-- Template for the controls popovers -->
    <script id="popover-template" type="text/x-handlebars-template">
        <div class="list-group pop">
            <ul class="pl-3">
                <div class="row">
                    <div class="col-auto pr-0">
                        <img class="img-fluid border p-1" src="{% static 'open-iconic/svg/media-pause.svg' %}"
                             alt="Pause">
                    </div>
                    <div class="col text-left pl-2">
                        Pausiert das Modul für alle Schüler*innen
                    </div>
                </div>
            </ul>
            <ul class="pl-3">
                <div class="row">
                    <div class="col-auto pr-0">
                        <img class="img-fluid border p-1" src="{% static 'open-iconic/svg/media-stop.svg' %}"
                             alt="Stop">
                    </div>
                    <div class="col text-left pl-2">
                        Beendet das Modul
                    </div>
                </div>
            </ul>
            <ul class="pl-3">
                <div class="row">
                    <div class="col-auto pr-0">
                        <img class="img-fluid border p-1" src="{% static 'open-iconic/svg/document.svg' %}"
                             alt="Auswertung">
                    </div>
                    <div class="col text-left pl-2">
                        Grafische Auswertung
                    </div>
                </div>
            </ul>
        </div>
    </script>
    <!-- Template end -->
{% endblock %}
{% block scripts %}
    <script>const roomName = '{{ room_name }}';</script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({
                html: true,
                content: function () {
                    const template = Handlebars.compile($("#popover-template").html());
                    return (template())
                },
            });
        });
    </script>
    <script src="{% static "teacher/js/room.js" %}"></script>
{% endblock %}
</body>
</html>
