.lesson-header {
    padding-top: 12px;
}

.lesson-footer {
    padding-bottom: 12px;
}

.lesson-content {
    height: calc(100vh - 110px); /*(50 px (header) + 60px (footer))*/
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: 394px;
    overflow: auto !important;
}

.row-v-h-centered {
    justify-content: center;
    align-items: center;
}
