{% extends 'lessons/lesson.html' %}
{% block lesson_card %}
    <div class="card">
        <h4 class="card-header">{{ title }}</h4>
        <div class="card-body">
            <h6 class="card-title text-muted">{{ subtitle }}</h6>
            <div class="card-text">{{ text }}</div>
        </div>
        <ul class="list-group list-group-flush">
            <form action="{% url 'lesson' state %}" method="post">
                {% csrf_token %}
                <li class="list-group-item">
                    <button type="submit" class="btn-success btn-lg container-fluid">Weiter</button>
                </li>
            </form>
        </ul>
    </div>
{% endblock %}
