{% extends 'base.html' %}
{% block content %}
    <div class="container table">
    <div class="row justify-content-center">
        {{ card|safe }}
    </div>
    <div class="row pt-4 justify-content-center ">
        <div class="col">
            <p><strong class="text-info">Raum:</strong> {{ rname }}</p>
        </div>
        <div class="col">
            <input type=button class='btn-info btn-sm' value="Raum verlassen"
                   onClick="window.location.href = '{% url 'leave' %}'">
        </div>
    </div>
{% endblock %}

