{% extends 'base.html' %}
{% block title %}
    Gleich geht es weiter..
{% endblock %}

{% load static %}
{% block content %}
    <style type="text/css">
        body {
            background: url('{% static "lesson/diceware/sternenhimmel.jpg" %}') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <img class="img-fluid" src="{% static "lesson/pause.png" %}">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "lesson/js/room.js" %}"></script>
{% endblock %}