{% extends 'base.html' %}
{% block title %}
    Gleich geht es weiter..
{% endblock %}

{% load static %}
{% block content %}
    <style type="text/css">
        body {
            background: url('{% static "lesson/diceware/sternenhimmel.jpg" %}') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <img class="img-fluid" src="{% static "lesson/pause.png" %}">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function check_for_active_lesson() {
            $.ajax({
                method: "POST",
                url: '/lesson/room_status',
                dataType: 'json',
                contentType: 'json',
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (data) {
                    if (data.redirect)
                        window.location.replace(data.redirect);

                    if (data.running)
                        window.location.replace('/lesson/');
                }
            })
        }
        setInterval(check_for_active_lesson, 1000)
    </script>
{% endblock %}