{% extends 'base.html' %}
{% block title %}
    Gleich geht es weiter..
{% endblock %}


{% block content %}
    <div class="container-fluid h-100 bg-dark">
        <div class="row h-100">
            <div class="col text-center align-self-center">
                <h1 class="text-danger display-1">Pause...</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function check_for_active_lesson() {
            $.ajax({
                method: "POST",
                url: '/lesson/room_status',
                dataType: 'json',
                contentType: 'json',
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (data) {
                    if (data.redirect)
                        window.location.replace(data.redirect);

                    if (data.running)
                        window.location.replace('/lesson/');
                }
            })
        };
        setInterval(check_for_active_lesson, 1000)
    </script>
{% endblock %}