<div class="container-fluid" id="introCont">
    <div class="row pt-3 justify-content-center pt-5">
        <div class="col text-center">
            <h1 class="text-primary">Passwörter würfeln</h1>
        </div>
    </div>
    <div class="row pt-3 justify-content-center">
        <div class="col text-center">
            <h1 class="text-primary">[Anleitung]</h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="row pt-3 justify-content-center">
        <div class="col text-center">
            <button class="btn btn-primary" type="button" style="min-width: 10vw" id="button-start">Start</button>
        </div>
    </div>
</div>