<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'student/style.css' %}">

    <title>Datenklaus</title>
</head>
<body>



{% block content %}{% endblock %}

<script src="{% static "js/jquery-3.4.1.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/handlebars.js" %}"></script>

<script src="{% static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
