{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    DatenKLAUs
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
    <style type="text/css">
        body {
            background: url('{% static "lesson/diceware/sternenhimmel.jpg" %}') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>

    <div class="container-fluid h-100 overflow-auto">
        <div class="row h-100">
            <div class="m-auto col-9 ">
                <div class="row">
                    <img class="img-fluid" src="{% static "willkommenbeidk.gif" %}">
                </div>
                <div class="row p-2 pt-4">
                    <div class="col">
                        <button class="btn-dark btn-lg h1 btn-block" onclick="window.location.href='{% url 'lexicon_index' %}'">
                            DatenKLAUs Lexikon
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn-success btn-lg h1 btn-block" onclick="window.location.href='{% url 'select_room' %}'">
                            Hier geht es zur Raumwahl!
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}