{% extends 'base.html' %}
{% block scripts %}
    <script>
        function update() {
            $.ajax({
                method: "POST",
                url: "/student/",
                dataType: 'json',
                contentType: 'json',
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (data) {
                    var $el = $("#rooms");
                    var $selected = $el.val()
                    $el.empty(); // remove old options
                    $.each(data.rooms, function (index, value) {
                        $el.append($("<option></option>")
                            .attr("value", value).text(value));
                        if (value == $selected){
                            $el.val($selected)
                        }
                    });
                }
            })
        };
        setInterval(update, 5000)
    </script>
{% endblock %}
{% block content %}
    {% load widget_tweaks %}
    <div class="container w-50">
        <form action="{% url 'join' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <h4>Name:</h4>
            </div>
            <div class="row pb-4">
                {% render_field form.username class+="form-control form-control-lg" type="text" %}
            </div>
            <div class="row">
                <h4>Raum:</h4>
            </div>
            <div class="row pb-4">
                {% render_field form.room id='rooms' class+="form-control form-control-lg" %}
            </div>
            <div class="row">
                <button type="submit" class="btn-success btn-lg container-fluid">Los geht's!</button>
            </div>
        </form>

        {#    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
        {#        Wähle hier einen Klassenraum#}
        {#    </button>#}
        {#    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">#}
        {#        {% for rname in room_names %}#}
        {#        <a class="dropdown-item" href="{% url "join" rname %}">{{ rname }}</a>#}
        {#        {% endfor %}#}
        {#    </div>#}
    </div>
{% endblock %}