{% extends 'student/base.html' %}
{% block content %}
    {% load staticfiles %}

    <div class="container w-50">
        {% if question and choices_list %}
            <img class="image-fluid rounded mx-auto d-block" src="{% static 'student/images/splash.jpg' %}"
                 alt="{{ question.question_text }}" width="100%">
            <br/>
            {% for choice in choices_list %}
                <div class="row">
                    <button type="button" class="btn btn-dark w-100 align-content-center border-bottom"
                            onclick="window.location.href = '{% url "poll_vote" question.id choice.id %}'">
                        {{ choice.choice_text }}
                    </button>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert-warning">Question not available!</div>
        {% endif %}
    </div>
{% endblock %}