{% extends 'lesson/lesson.html' %}
{% load static %}
{% block lesson_card %}
    <div class="row row-v-h-centered">
        <div class="col">
            <div class="display-3 border-bottom border-light text-light text-center">Grundlagenwissen Internet</div>
            <div class="row  justify-content-center pt-2">
                <div class="col-8">
                    <img class="img-fluid" src="{% static "lesson/internet/internetsurfer01.png" %}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
