{% extends 'lesson/lesson.html' %}
{% block lesson_card %}
    <div class="bg-dark-st p-4 rounded">
        <div class="display-4 text-light border-bottom">
           Internet
        </div>
        <div class ="display-5 text-dk-primary pt-2">
             Warum muss ich wissen, wie das funktioniert?
        </div>
        <div class="display-6 text-light pt-2">
            Zu wissen, wie eine Technologie funktioniert, ist nicht immer notwendig: So können
            dir bestimmt nur wenige Menschen die Funktionsweise einer Mikrowelle erklären,
            obwohl sie täglich eine benutzen. Eine Mikrowelle wird jedoch in den meisten Fällen
            keine Daten verarbeiten, senden oder empfangen und somit potentiell Rückschlüsse auf
            dein Verhalten liefern können, wie es z.B. bei der Verwendung des Smartphones der
            Fall ist. Deshalb ist es wichtig, dass du für einen souveränen Umgang mit dem
            Internet über Grundwissen verfügst.
        </div>
    </div>
{% endblock %}
