{% extends 'lesson/lesson.html' %}
{% load static %}
{% block lesson_card %}
    <div class="row bg-dark-st pt-3 pb-3 rounded">
        <div class="col align-self-center">
            <img class="img-fluid  rounded"
                 src="{% static "lesson/internet/Internet1.png" %}">
        </div>
        <div class="col align-self-center display-6 text-light">
            Unter dem Begriff „Internet“ versteht man unzählige Computer,
            die zu einem großen Verbund zusammengeschlossen sind und untereinander
            Datenpakete austauschen. All diese Computer (und auch Handys und Tablets)
            kommunizieren mittels verschiedener Internetprotokolle.<br/><br/>
            Verbunden sind sie über Kabel oder drahtlose kommunikation, wobei "Knotenpunkte",
            die wege bestimmen um Pakete zum Zielort zu leiten.<br/><br/>
            Diese Infrastruktur des Internets wird auch <a href="{% url "lex_entry" "Backbone" %}" class="text-dk-primary">Backbone</a> genannt.
        </div>
    </div>
{% endblock %}
