{% extends 'lesson/lesson.html' %}
{% load static %}
{% block lesson_card %}
    <div class="row bg-dark-st pt-3 pb-3 rounded">
        <div class="col align-self-center">
            <img class="img-fluid  rounded"
                 src="{% static "lesson/internet/Internet1.png" %}">
        </div>
        <div class="col align-self-center display-6 text-light">
            Unter dem Begriff „Internet“ versteht man unzählige Computernetzwerke oder
            Server,
            die zu einem großen Verbund zusammengeschlossen sind und zwischen den
            einzelnen
            Netzwerken Datenpakete austauschen können. Diese Netzwerke kommunizieren auf
            der
            Basis verschiedener Internetprotokolle miteinander. Verbunden sind sie über
            Kabel
            und "Knotenpunkte", die die Pakete zum Zielort weiterleiten. Diese
            materielle
            Infrastruktur des Internets wird auch <a href="{% url "lex_entry" "Backbone" %}" class="text-dk-primary">Backbone</a> genannt.
        </div>
    </div>
{% endblock %}
