{% extends 'lesson/lesson.html' %}
{% load static %}
{% block lesson_card %}
    <div class="row bg-dark-st pt-3 pb-3 rounded">
        <div class="col align-self-center">
            <img class="img-fluid  rounded"
                 src="{% static "lesson/internet/Internet3.png" %}">
        </div>
        <div class="col align-self-center display-6 text-light">
            Um einen Zugang zum Internet zu bekommen muss dein Gerät
            (also z.B. dein Computer oder Smartphone) eine Verbindung aufbauen.
            <br/><br/>
            <ul>
                <li>
                    <b>LAN:</b> Hierbei verbindet dich ein Kabel mit einem lokalen Netzwerk. Dieses
                    verbindet sich über eine Schnittstelle (den <i>Router</i>) über deinen
                    Internetanbieter mit dem globalen Netzwerk - dem Internet.
                </li>
                <li>
                    <hr class="border-light m-1">
                    <b>WLAN:</b> Funktioniert genau so wie ein LAN Netzwerk nur, dass Daten hier drahtlos an einen
                    <i>router</i> übertragen werden
                </li>
                <li>
                    <hr class="border-light m-1">
                    <b>Mobilfunk:</b> Beim Mobilfunk kommuniziert dein Telefon mit einem Sendemasten der
                    die Daten an das Internet weiterleitet.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
