{% extends 'lesson/lesson.html' %}
{% load static %}
{% block lesson_card %}
    <div class="row bg-dark-st p-4">
        <div class="col">
            <div class="row">
                <div class="col-8">
                    <img class="img-fluid rounded"
                         src="{% static "lesson/internet/Internet-animation.gif" %}">
                </div>
                <div class="col text-light display-6 pt-2 align-self-center">
                    Du benötigst also neben einem Gerät auch eine Verbindung zum Internet. Diese ermöglicht dir einen
                    Zugriff auf alle, öffentlich zugänglichen, Punkte im Netzwerkverbund "Internet".
                </div>
            </div>
            <div class="row">
                <div class="col display-6 text-light">
                    <hr class="border-light">
                    In der Regel verbindest du dich mit einem Server, auf denen Webseiten oder andere Dienstleistungen
                    wie z.B. Appinhalte gelagert sind.<br> Möchtest du z.B. die Webseite <i>www.klicksafe.de</i> aufrufen,
                    schickt dein Gerät zuerst eine Anfrage an den Server und erhält daraufhin alle Daten, die zur
                    Darstellung der Seite im Browser notwendig sind. Der Server  erfährt dabei wer du bist, auch um dir
                    Daten zu schicken die für dich bestimmt sind - wie zum beispiel persönliche Nachrichten.
                </div>
            </div>
        </div>
    </div>
{% endblock %}


