{% extends 'lesson/lesson.html' %}
{% block lesson_card %}
    <div class="row row-v-h-centered">
        <div class="col lesson-card-bg">
            <div class="lesson-card-title-light">
                Warum muss ich wissen, wie das Internet funktioniert?
            </div>
            <div class="lesson-card-body-light">
                Zu wissen, wie eine Technologie funktioniert, ist nicht immer notwendig: So können
                dir bestimmt nur wenige Menschen die Funktionsweise einer Mikrowelle erklären,
                obwohl sie täglich eine benutzen. Eine Mikrowelle wird jedoch in den meisten Fällen
                keine Daten verarbeiten, senden oder empfangen und somit potentiell Rückschlüsse auf
                dein Verhalten liefern können, wie es z.B. bei der Verwendung des Smartphones der
                Fall ist. Deshalb ist es wichtig, dass du für einen souveränen Umgang mit dem
                Internet über Grundwissen verfügst.<br/>
                Und das führt uns zur ersten und wichtigsten Regel des Internets:
            </div>
            <div class="lesson-card-rememberme">
               1.  Bei der Internetnutzung werden Daten verarbeitet. Immer!
            </div>
        </div>
    </div>
{% endblock %}
