{% extends 'lesson/lesson.html' %}
{% load static %}
{% block lesson_card %}
    <div class="row row-v-h-centered">
        <div class="col">
            <div class="row lesson-card-body-light">
                <div class="col align-self-center">
                    <img class="img-fluid  rounded"
                         src="{% static "lesson/internet/Internet3.png" %}">
                </div>
                <div class="col align-self-center">
                    Wichtig für einen Zugang ist die Verbindung deines Gerät mit dem Internet. Dies erfolgt in den
                    meisten Fällen über ein WLAN, genauer den WAP (Wireless Access Point) des Internerouters, oder aber
                    über das Mobilfunknetz, wenn du zum Beispiel unterwegs bist.

                    <div class="lesson-card-rememberme">
                        3. Regel des Internets: Die Nutzung wird ermöglicht durch ein internetfähiges Gerät und eine
                        Verbindung via Router oder Mobilfunk.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
