{% extends 'lesson/lesson.html' %}
{% load static %}
{% block lesson_card %}
    <div class="row row-v-h-centered ">
        <div class="col">
            <div class="row lesson-card-body-light">
                <div class="col align-self-center">
                    <img class="img-fluid  rounded"
                         src="{% static "lesson/internet/Internet-animation.gif" %}">
                </div>

            </div>
            <div class="row lesson-card-body-light">
                <div class="col align-self-center">
                    Du benötigst also neben einem Gerät auch eine Verbindung zum Gerät. Dies ermöglicht dir einen
                    Zugriff auf alle, öffentlich zugänglichen, Punkte im Netzwerkverbund "Internet" - meist sind dies
                    Server, auf denen Webseiten oder andere Dienstleistungen wie z.B. Appinhalte gelagert sind. Möchtest
                    du z.B. die Webseite "www.klicksafe.de" aufrufen, schickt dein Gerät zuerst eine Anfrage an den
                    Server (auf dem der Quellcode der Webseite gelagert wird) und erhält daraufhin alle Daten, die zur
                    Darstellung der Seite im Browser notwendig sind.
                </div>
            </div>
        </div>
    </div>
{% endblock %}


