{% extends 'lesson/lesson.html' %}
{% load static %}
{% block lesson_card %}
    <div class="row row-v-h-centered ">
        <div class="col lesson-card-body-light">
            <div class="lesson-card-rememberme mb-2">
                Du erinnerst dich an die erste Regel des Internets: Bei der Internetnutzung werden Daten
                verarbeitet. Immer!
            </div>
            <div class="lesson-card-body-light">
                Für die Internetnutzung ist eine Verarbeitung von Daten notwendig: Mithilfe von Internetprotokollen
                wird unter anderem eine korrekte Übermittlung und Darstellung der angeforderten Inhalte ermöglicht.
                Dabei werden verschiedene Informationen zwischen deinem Gerät und dem Server ausgetauscht. Dazu
                gehören unter anderem:
                <br/>
                <ul>
                    <li> Datum und Uhrzeit der Anfrage
                    <li> Deine IP-Adresse (sozusagen deine virtuelle Adresse)
                    <li> Geräteinformationen und Browserinformationen, damit sichergestellt werden kann, dass
                        Inhalte korrekt angezeigt werden
                </ul>

                Diese Daten werden, gebündelt in sogenannten Datenpaketen, auf ihre Reise durch das Internet zum
                Zielort geschickt. Jedes internetfähige Gerät, sowie Server oder Rechner hat eine ihm zugewiesene,
                individuelle Adresse. So wird sichergestellt, dass die Pakete am richtigen Ort ankommen.

                Wie aus diesen technischen Daten personalisierte Daten werden können, erfährst du im folgenden Modul
                "Trackingmethoden".

            </div>
        </div>
    </div>
{% endblock %}


