{% extends 'lesson/lesson.html' %}
{% load static %}
{% block lesson_card %}
    <div class="row row-v-h-centered">
        <div class="col">
            <div class="lesson-card-bg lesson-card-title-light">Grundlagenwissen Internet</div>
            <div class="row  justify-content-center pt-2">
                <div class="col-9">
                    <img class="img-fluid" src="{% static "lesson/internet/internetsurfer01.png" %}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
