{% extends 'lesson/lesson.html' %}
{% load staticfiles %}
{% block lesson_card %}
    <!--suppress UnterminatedStatementJS -->
    <style>
        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        }

        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        }

        .image-card-carousel {
        {% if title %}
            height: calc(100% - 56px)
        {% else %}
            height: 100%
        {% endif %}
        }

        .image-card-img {
            height: 100%;
            max-height: 100%;
            width: auto;
            min-height: 300px;

        }
    </style>

    <div class="row h-100">
        <div class="col h-100 text-center">
            {% if title != None %}
                <h1 class="text-light">{{ title }}</h1>
            {% endif %}
            <div id="carouselFade" class="image-card-carousel carousel slide carousel-fade" data-interval="false"
                 data-wrap=false
                 data-touch=true>
                <div class="carousel-inner h-100">
                    {% for img in images %}
                        {% if forloop.first %}
                            <div class="carousel-item h-100 active ">
                                <img class="img-fluid rounded image-card-img" style="object-fit: contain"
                                     src="{% static img %}">
                            </div>
                        {% else %}
                            <div class="carousel-item h-100">
                                <img class="img-fluid rounded image-card-img" style="object-fit: contain"
                                     src="{% static img %}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <a id="carousel_back" style="display: none" class="carousel-control-prev text-dark" href="#carouselFade"
                   role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a id="carousel_next" class="carousel-control-next text-dark" href="#carouselFade" role="button"
                   data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block card_scripts %}
    <script>
        $(document).ready(function () {
                if (1 ===  {{ images|length }}) {
                    $('#carousel_next').hide()
                } else {
                    $('#lesson-continue-state').css('visibility', 'hidden')
                }

                $('#carouselFade').on('slide.bs.carousel', function (event) {
                    if (event.to === ({{ images|length }}-1)) {
                        $('#lesson-continue-state').css('visibility', 'visible');
                        $('#carousel_next').hide()
                    } else
                        $('#carousel_next').show();

                    if (event.to !== 0)
                        $('#carousel_back').show();
                    else
                        $('#carousel_back').hide()
                })
            }
        );

    </script>
{% endblock %}