{% extends 'lesson/lesson.html' %}
{% block lesson_card %}
    <div class="row row-v-h-centered">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">{{ title }}</h1>
                </div>
            </div>
            <div class="row w-100 text-center d-flex flex-shrink-1">
                <div class="col justify-content-center flex-column">
                    <img src="{{ img }}" class="img-fluid flex-shrink-1" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
{% endblock %}