html, body {
    height: 100%;
}

body {
    -ms-flex-align: center;
    background-color: #f5f5f5;
}

.popover {
    max-width: none;
}

.list-group {
    max-height: 300px;
    margin-bottom: 8px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}