{% extends 'lesson/lesson.html' %}
{% block lesson_card %}
    <div class="bg-dark-st p-4 rounded">
        <div class="display-4 text-light border-bottom">
            Warum Diceware?
        </div>
        <div class="text-dk-primary display-6-5 pt-3">
            Durch das Zufallsprinzip der Methode und der Länge des Passworts lässt es sich schwer erraten und ist
            technisch sehr aufwändig zu knacken.
        </div>
        <div class="display-6 text-light pt-2">
            Das Problem bei selbstgewählten Passwörtern ist zudem oft, dass sie aus
            persönlichen Informationen zusammengesetzt sind, sei es dein Geburtsdatum, der Name deines Haustieres oder
            dein Lieblingsgericht. Diese Informationen sind für Außenstehende, die dein Passwort wollen, leicht
            zugänglich und stellen im Bereich der Datensicherheit ein großes Problem dar, siehe hierzu auch unseren
            Lexikoneintrag zum Thema <a href="{% url "lex_entry" "Social Engineering" %}">Social Engineering</a>.
            Zusätzlich empfehlen wir dir die Nutzung eines
            Passwort-Managers. Die von dir gewürfelte Passphrase kannst du als Masterpasswort verwenden. Mehr Hinweise
            und Empfehlungen zur Verwendung eines Passwort-Managers findest du <a
                href="{% url "lex_entry" "passwort-manager" %}">hier</a>.
        </div>
            <div class="display-6 text-light pt-2 mt-2 border-top">
                <b>Übrigens:</b> Ein Passwort dass sich aus mehreren Wörtern zusammensetzt nennt man auch <i>Passphrase</i>
            </div>
    </div>
{% endblock %}
