{% extends 'lesson/lesson.html' %}
{% block lesson_card %}
    <div class="bg-dark-st p-4 rounded">
        <div class="display-4 text-light border-bottom">
            Wichtig
        </div>
        <div class="text-dk-primary display-6-5 pt-3">
            Sollte dir ein Wort unbekannt sein oder nicht gefallen, kannst du dir ein neues würfeln!
        </div>
        <div class="display-6 text-light pt-2">
            Falls die Verwendung eines Sonderzeichens, eines Großbuchstabens oder einer Zahl für das Passwort vorgegeben
            ist,
            fügst du einfach an einer beliebigen Stelle etwas ein.
            <br/><br/>
            <b>Übrigens:</b> Es ist nicht verboten, die Passphrase auf einem Papier zu notieren und an einem sicheren
            Ort aufzubewahren.
        </div>
    </div>
{% endblock %}
