{% extends 'lesson/lesson.html' %}
{% load static %}
{% block lesson_card %}
    <div class="bg-dark-st rounded p-4">
        <div class="text-light display-6-5 pb-2">
            Werfe fünf Würfel und gib das Ergebnis ein indem du hier auf die entsprechenden Würfel klickst:
        </div>
        <div class="text-light border-dk-primary border rounded text-center h1" id="">
            <div class="row mt-1 justify-content-center mb-1">
                <div class="col mr-1 text-center clickable-dice" data-dice="one" id="dice-slh-1">
                    <i class="fas fa-dice-one fa-2x " id="dice-sl-1" style="cursor: pointer"></i>
                </div>
                <div class="col mr-1 text-center clickable-dice" data-dice="two" id="dice-slh-2">
                    <i class="fas fa-dice-two fa-2x" id="dice-sl-2" style="cursor: pointer"></i>
                </div>
                <div class="col mr-1 text-center clickable-dice" data-dice="three" id="dice-slh-3">
                    <i class="fas fa-dice-three fa-2x " id="dice-sl-3" style="cursor: pointer"></i>
                </div>
                <div class="col mr-1 text-center clickable-dice" data-dice="four" id="dice-slh-4">
                    <i class="fas fa-dice-four fa-2x " id="dice-sl-4" style="cursor: pointer"></i>
                </div>
                <div class="col mr-1 text-center clickable-dice" data-dice="five" id="dice-slh-5">
                    <i class="fas fa-dice-five fa-2x " id="dice-sl-5" style="cursor: pointer"></i>
                </div>
                <div class="col mr-1 text-center clickable-dice" data-dice="six" id="dice-slh-6">
                    <i class="fas fa-dice-six fa-2x " id="dice-sl-6" style="cursor: pointer"></i>
                </div>
            </div>
        </div>
        <div class="container-fluid pt-2 pb-2">
            <div class="row display-6 text-light">
                <div class="col" id="result-col">
                    <div class="row" id="result-1" style="height: 32px;">
                        <div class="col-3 text-right align-self-start text-dk-primary font-weight-bold">
                            Runde 1
                        </div>
                    </div>
                    <hr class="border-light mt-1 mb-1">
                    <div class="row" id="result-2" style="height: 32px;">
                        <div class="col-3 text-right align-self-start">
                            Runde 2
                        </div>
                    </div>
                    <hr class="border-light mt-1 mb-1">
                    <div class="row" id="result-3" style="height: 32px;">
                        <div class="col-3 text-right align-self-start">
                            Runde 3
                        </div>
                    </div>
                    <hr class="border-light mt-1 mb-1">
                    <div class="row" id="result-4" style="height: 32px;">
                        <div class="col-3 text-right align-self-start">
                            Runde 4
                        </div>
                    </div>
                    <hr class="border-light mt-1 mb-1">
                    <div class="row" id="result-5" style="height: 32px;">
                        <div class="col-3 text-right align-self-start">
                            Runde 5
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="h3 text-light" id="password-label">Passwort: </span>
        <div class="bg-light rounded p-2 text-center">
            <div class="text-lowercase text-dk-primary display-6" id="password-sentence" style="min-height: 32px;"></div>
        </div>
    </div>
{% endblock %}
{% block card_scripts %}
    <script id="resultDice" type="text/x-handlebars-template">
        {% verbatim %}
        <div class="col-auto text-center">
            <i class="fas fa-dice-{{ d1 }} fa-lg"></i>
        </div>
        {% endverbatim %}
    </script>
    <script src="{% static "lesson/diceware/js/dicewords.js" %}"></script>
    <script>
        let dicePos = 0;
        let result = "";
        let rounds = 1;
        let dice = "";
        const diceMap = {'one': '1', 'two': '2', 'three': '3', 'four': '4', 'five': '5', 'six': '6'};

        $(document).ready(function () {
            $("#lesson-continue-state").prop("disabled", true);
            $(".clickable-dice").click(diceClick)
        });

        diceClick = function () {
            if (dicePos > 5 || rounds >= 6)
                return;
            dicePos++;
            const d = $(this).data("dice");
            dice += diceMap[d];
            const template = Handlebars.compile(document.getElementById("resultDice").innerHTML);
            $('#result-' + rounds).append(template({'d1': d}));
            if (dicePos === 5) {
                $(".clickable-dice").prop("disabled", true);
                findWord();
                dicePos = 0;
            }
        };

        findWord = function () {
            const word = getDiceword(dice);
            result += " " + word;
            $("#password-sentence").append(" " + word);
            // noinspection JSJQueryEfficiency
            $('#result-' + rounds).find('.text-right').removeClass('text-dk-primary font-weight-bold');
            rounds++;
            dice = "";
            if (rounds >= 6) {
                $("#lesson-continue-state").prop("disabled", false);
                $('#password-label').addClass('font-weight-bold')
            } else {
                $(".clickable-dice").prop("disabled", false);
                $('#result-' + rounds).find('.text-right').addClass('text-dk-primary font-weight-bold')
            }
        };
    </script>
{% endblock %}
