{% extends 'lesson/lesson.html' %}
{% block lesson_card %}
    <div class="row row-v-h-centered">
        <div class="col lesson-card-bg">
            <div class="lesson-card-title-light">
                Ein sicheres Passwort kann auch einfach zu merken sein!
            </div>
            <div class="lesson-card-body-light">
                Verabschiede dich von verzwickten Zahlen-, Großbuchstaben- und Zeichenkombinationen, denn wir zeigen
                und erklären dir ein Spiel, bei dem du ein sicheres Passwort erstellst, dass du dir sogar - mithilfe
                einer Eselsbrücke - leichter merken kannst!
            </div>
        </div>
    </div>
{% endblock %}
