{% extends 'lesson/lesson.html' %}
{% block lesson_card %}
    <div class="row row-v-h-centered">
        <div class="col-auto">
            <h2 class="text-info">
                Ein sicheres Passwort muss, entgegen der allgemeinen Auffassung, nicht zwingend so
                kompliziert sein, dass du es dir nicht merken kannst!
            </h2>
            <h4 class="text-muted">
                Verabschiede dich von verzwickten Zahlen-, Großbuchstaben- und Zeichen-Kombinationen, denn wir zeigen
                und erklären dir ein Spiel, bei dem du ein sicheres Passwort erstellst, dass du dir sogar - mithilfe
                einer Eselsbrücke - leichter merken kannst!
            </h4>
        </div>
    </div>
{% endblock %}
