{% extends 'lesson/lesson.html' %}
{% block lesson_card %}
    <div class="row">
        <div class="col text-center bg-light rounded m-2">
            <h2 class="text-danger">
                Ein sicheres Passwort muss, entgegen der allgemeinen Auffassung, nicht zwingend so
                kompliziert sein, dass du es dir nicht merken kannst!
            </h2>
        </div>
    </div>
    <div class="row flex-grow-1 justify-content-center">
        <div class="col align-self-center">
            <h4 class="text-light">
                <span class="text-success rounded">Verabschiede dich</span> von verzwickten Zahlen-, Großbuchstaben- und Zeichen-Kombinationen, denn wir zeigen
                und erklären dir ein Spiel, bei dem du ein sicheres Passwort erstellst, dass du dir sogar - mithilfe
                einer Eselsbrücke - leichter merken kannst!
            </h4>
        </div>
    </div>
{% endblock %}
