{% extends 'lesson/lesson.html' %}
{% block lesson_card %}
    <div class="row row-v-h-centered">
        <div class="col-md-11 col-xl-9 lesson-card-bg">
            <div class="lesson-card-title">
                Spielprinzip
            </div>
            <div class="lesson-card-body">
                Für das Erstellen eines sicheren Passworts ist vor allem eins wichtig: Der Zufall. Und wie
                du vielleicht weißt, ist das Ergebnis eines ungezinkten (d.h. nicht manipulierten)
                Würfelwurfs immer zufällig - denn es steht nicht zu Beginn fest, wieviele Augen angezeigt
                werden.
                Diesen Zufall machen wir uns hier zunutze. Mithilfe von fünf Würfeln und einer
                langen Wortliste können wir uns ans Werk machen. In der Liste findest du alle würfelbaren
                Zahlenkombinationen<sup><a tabindex="0" class="text-info border border-info rounded" role="button" data-trigger="hover"
                                           data-toggle="popover"
                                           data-content="wir haben nachgezählt: 7776">?</a></sup>. Du würfelst also fünf
                Würfel - heraus
                kommt eine zufällige Zahlenkombination, die für ein bestimmtes Wort steht, das du dir
                notierst. Das Ganze wiederholst du fünfmal und am Ende hast du fünf zufällig gewürfelte
                Wörter, eine sogenannte Passphrase, die du als Passwort verwenden kannst.
            </div>
        </div>
    </div>
{% endblock %}

{% block card_scripts %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        });

        $('.popover-dismiss').popover({
            trigger: 'focus'
        })
    </script>

{% endblock %}
