{% extends 'lesson/lesson.html' %}
{% block lesson_card %}
    <div class="row justify-content-center">
        <div class="col-3 text-center bg-light rounded p-1">
            <h2 class="text-info">
                Spielprinzip
            </h2>
        </div>
    </div>

    <div class="row flex-grow-1 justify-content-center">
        <div class="col-11 align-self-center">
            <h4 class="text-light bg-danger p-2 rounded">
                Für das Erstellen eines sicheren Passworts ist vor allem eins wichtig: Der Zufall. Und wie
                du vielleicht weißt, ist das Ergebnis eines ungezinkten (d.h. nicht manipulierten)
                Würfelwurfs immer zufällig - denn es steht nicht zu Beginn fest, wieviele Augen angezeigt
                werden.
            </h4>
        </div>
    </div>

    <div class="row flex-grow-1 justify-content-center">
        <div class="col-11 text-light bg-dark align-self-center rounded">
            <h4>
            </h4>
            <h4>
                Diesen Zufall machen wir uns hier zunutze. Mithilfe von fünf Würfeln und einer
                langen Wortliste können wir uns ans Werk machen. In der Liste findest du alle würfelbaren
                Zahlenkombinationen<sup><a tabindex="0" class="text-warning" role="button" data-trigger="focus"
                                           data-toggle="popover"
                                           data-content="wir haben nachgezählt: 7776">?</a></sup>. Du würfelst also fünf
                Würfel - heraus
                kommt eine zufällige Zahlenkombination, die für ein bestimmtes Wort steht, das du dir
                notierst. Das Ganze wiederholst du fünfmal und am Ende hast du fünf zufällig gewürfelte
                Wörter, eine sogenannte Passphrase, die du als Passwort verwenden kannst.
            </h4>
        </div>
    </div>
{% endblock %}

{% block card_scripts %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        $('.popover-dismiss').popover({
            trigger: 'focus'
        })
    </script>

{% endblock %}
