{% extends 'lesson/lesson.html' %}
{% block lesson_card %}
    <div class="row row-v-h-centered">
        <div class="col-md-11 col-xl-9 lesson-card-bg">
            <div class="lesson-card-title">
                Anleitung
            </div>
            <div class="lesson-card-subtitle">
                <p>Was du brauchst:<br/>
                    - Fünf Würfel (und evtl. einen Becher)</p>
                <p>Falls das Spiel außerhalb von Datenklaus gespielt wird:<br/>
                    - Die in der App verwendete Wortliste findet sich auch <a
                            href="http://world.std.com/%7Ereinhold/diceware_german.txt">hier</a>.<br/>
                    - Stift und Zettel</p>
            </div>

            <div class="lesson-card-body">
                <p><strong>So gehst du vor:</strong></p>
                <ol>
                    <li>Stelle sicher, dass du alleine bist. Dann nimmst du fünf Würfel und wirfst diese - alle Würfel
                        auf
                        einmal, oder jeden Wurf einzeln, wie es dir beliebt.
                    </li>
                    <li>Die Zahlenkombination, die durch die Augen der einzelnen Würfel angezeigt wird, notierst du
                        entweder
                        auf Papier, durchsuchst manuell die Zahlenkombi-Wortliste und schreibst das zugehörige Wort auf.
                        <em>Oder</em> du trägst dein Würfelergebnis auf der nächsten Seite in das Eingabefeld ein, denn
                        wir
                        nehmen dir die Suche ab und zeigen das passende Wort für die eingegebene Kombination an.
                    </li>
                    <li>Diesen Vorgang - Würfeln, Zahlenkombi eingeben, Wort raussuchen und aufschreiben - wiederholst
                        du
                        nun mindestens fünfmal.
                    </li>
                    <li>Du hast nun eine, aus mindestens fünf Worten bestehende, "Passphrase". Mithilfe einer
                        Eselsbrücke
                        kannst du versuchen, einen merkbaren Satz zu bilden und dir dadurch dein neues Passwort besser
                        merken.
                    </li>
                    <li>Sollte dir ein Wort unbekannt sein oder nicht gefallen, würfle einfach nochmal. Es ist jedoch
                        wichtig, dass der Zufall die Zahlenkombi und somit das Wort bestimmt - Lieblingswort aussuchen
                        gilt
                        leider als Schummeln und wird vom Datenklaus bestraft!
                    </li>
                    <li>Falls die Verwendung eines Sonderzeichens, eines Großbuchstabens oder einer Zahl für das
                        Passwort
                        vorgegeben ist, fügst du einfach an einer beliebigen Stelle etwas ein. Lieblingszahlen und
                        -zeichen
                        sind hier erlaubt :)
                    </li>
                </ol>
                <p class="text-danger">Übrigens: Es ist nicht verboten, die Passphrase auf einem Papier zu notieren und an einem sicheren
                    Ort,
                    von dem nur du weißt, aufzubewahren.</p>
            </div>
        </div>
    </div>
{% endblock %}
