{% extends 'lesson/lesson.html' %}
{% load static %}
{% block lesson_card %}
    <div class="row row-v-h-centered" id="topCont">
        <div class="col lesson-card-bg">
            <div class="lesson-card-subtitle-light border-dk-primary">
                <ol>
                    <li>Werfe fünf Würfel und gebe das Ergebnis in das untenstehende Eingabefeld ein.</li>
                    <li>Wiederhole diesen Vorgang bis du fünf Wörter - deine Passphrase -
                        angezeigt bekommst.
                    </li>
                    <li>Dein neues, sicheres Passwort ist nun bereit für die weitere Verwendung!</li>
                </ol>
            </div>
            <div class="lesson-card-subtitle-light text-center" id="">
                <div class="lesson-card-title-light" id="round-text">Runde 1</div>
                <i class="fas fa-dice-one fa-2x" id="dice-1" style="display: none"></i>
                <i class="fas fa-dice-two fa-2x" id="dice-2" style="display: none;"></i>
                <i class="fas fa-dice-three fa-2x" id="dice-3" style="display: none;"></i>
                <i class="fas fa-dice-four fa-2x" id="dice-4" style="display: none"></i>
                <i class="fas fa-dice-five fa-2x" id="dice-5" style="display: none"></i>
                <i class="fas fa-dice-six fa-2x" id="dice-6" style="display: none"></i>
                <div class="row pt-3 justify-content-center pb-4">
                    <div class="col-auto text-center" id="dice-holder-1">
                        <i class="fas fa-dice-one fa-2x" id="dice-pl" style="visibility: hidden "></i>
                    </div>
                    <div class="col-auto text-center" id="dice-holder-2">
                    </div>
                    <div class="col-auto text-center" id="dice-holder-3">
                    </div>
                    <div class="col-auto text-center" id="dice-holder-4">
                    </div>
                    <div class="col-auto text-center" id="dice-holder-5">
                    </div>
                </div>
                <div class="input-group m-1 pr-2">
                    <input type="text" maxlength="5" pattern="[0-6]{5}"
                           title="Bitte gib dein Würfelergebnis ein (z.B. 24243)" class="form-control"
                           placeholder="12345" id="dice-input"
                           aria-label="Würfelergebnis" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-light" id="button-next" type="button">Weiter
                        </button>
                    </div>
                </div>
                <div class="lesson-card-body-light mt-3">
                    Passwort: <span class="text-right text-capitalize text-dk-primary " id="password-sentence"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-v-h-centered flex-grow-1" id="resultCont" style="display: none">
        <div class="col-auto lesson-card-bg lesson-card-subtitle-light text-center">
            <div class="lesson-card-title-light text-light border-0">Dein neues Passwort lautet:</div>
            <div class="text-dk-primary lesson-card-body-light text-center" id="passwordResult"></div>
        </div>
    </div>
{% endblock %}
{% block card_scripts %}
    <script src="{% static "lesson/diceware/js/diceware.js" %}"></script>
    <script src="{% static "lesson/diceware/js/dicewords.js" %}"></script>
{% endblock %}
