{% extends 'lesson/lesson.html' %}
{% load static %}
{% block lesson_card %}
    <div class="row row-v-h-centered" id="topCont">
        <div class="col lesson-card-bg">
            <div class="lesson-card-subtitle-light border-dk-primary">
                <ol>
                    <li>Werfe fünf Würfel und gebe das Ergebnis in das untenstehende Eingabefeld ein.</li>
                    <li>Wiederhole diesen Vorgang bis du fünf Wörter - deine Passphrase -
                        angezeigt bekommst.
                    </li>
                    <li>Dein neues, sicheres Passwort ist nun bereit für die weitere Verwendung!</li>
                </ol>
            </div>
            <div class="lesson-card-subtitle-light text-center" id="">
                <div class="row mt-3 justify-content-center mb-4">
                    <div class="col-1 mr-1 text-center" id="dice-slh-1">
                        <i class="fas fa-dice-one fa-2x clickable-dice" id="dice-sl-1" data-dice="one"
                           style="cursor: pointer"></i>
                    </div>
                    <div class="col-1 mr-1 text-center" id="dice-slh-2">
                        <i class="fas fa-dice-two fa-2x clickable-dice" id="dice-sl-2" data-dice="two"
                           style="cursor: pointer"></i>
                    </div>
                    <div class="col-1 mr-1 text-center" id="dice-slh-3">
                        <i class="fas fa-dice-three fa-2x clickable-dice" id="dice-sl-3" data-dice="three"
                           style="cursor: pointer"></i>
                    </div>
                    <div class="col-1 mr-1 text-center" id="dice-slh-4">
                        <i class="fas fa-dice-four fa-2x clickable-dice" id="dice-sl-4" data-dice="four"
                           style="cursor: pointer"></i>
                    </div>
                    <div class="col-1 mr-1 text-center" id="dice-slh-5">
                        <i class="fas fa-dice-five fa-2x clickable-dice" id="dice-sl-5" data-dice="five"
                           style="cursor: pointer"></i>
                    </div>
                    <div class="col-1 mr-1 text-center" id="dice-slh-6">
                        <i class="fas fa-dice-six fa-2x clickable-dice" id="dice-sl-6" data-dice="six"
                           style="cursor: pointer"></i>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col" id="result-col">
                        <div class="row mt-2" id="result-1">
                            <div class="col-3 text-right align-self-start">
                                <h4 class="font-weight-bold text-dk-primary">Runde 1</h4>
                            </div>
                        </div>
                        <div class="row mt-2" id="result-2">
                            <div class="col-3 text-right align-self-start">
                                <h4>Runde 2</h4>
                            </div>
                        </div>
                        <div class="row mt-2" id="result-3">
                            <div class="col-3 text-right align-self-start">
                                <h4>Runde 3</h4>
                            </div>
                        </div>
                        <div class="row mt-2" id="result-4">
                            <div class="col-3 text-right align-self-start">
                                <h4>Runde 4</h4>
                            </div>
                        </div>
                        <div class="row mt-2" id="result-5">
                            <div class="col-3 text-right align-self-start">
                                <h4> Runde 5</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lesson-card-body-light"><span id="password-label">Passwort: </span><span
                        class="text-right text-capitalize text-dk-primary "
                        id="password-sentence"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block card_scripts %}
    <script id="resultDice" type="text/x-handlebars-template">
        {% verbatim %}
        <div class="col-auto text-center">
            <i class="fas fa-dice-{{ d1 }} fa-lg"></i>
        </div>
        {% endverbatim %}
    </script>
    <script src="{% static "lesson/diceware/js/dicewords.js" %}"></script>
    <script>
        let dicePos = 0;
        let result = "";
        let rounds = 1;
        let dice = "";
        const diceMap = {'one': '1', 'two': '2', 'three': '3', 'four': '4', 'five': '5', 'six': '6'};

        $(document).ready(function () {
            $("#lesson-continue-state").prop("disabled", true);
            $(".clickable-dice").click(diceClick)
        });

        diceClick = function () {
            if (dicePos > 5 || rounds >= 6)
                return;
            dicePos++;
            const d = $(this).data("dice");
            dice += diceMap[d];
            const template = Handlebars.compile(document.getElementById("resultDice").innerHTML);
            $('#result-' + rounds).append(template({'d1': d}));
            if (dicePos === 5) {
                $(".clickable-dice").prop("disabled", true);
                findWord();
                dicePos = 0;
            }
        };

        findWord = function () {
            const word = getDiceword(dice).toUpperCase();
            result += " " + word;
            $("#password-sentence").append(" " + word);
            // noinspection JSJQueryEfficiency
            $('#result-' + rounds).find('h4').removeClass('text-dk-primary font-weight-bold');
            rounds++;
            dice = "";
            if (rounds >= 6) {
                $("#lesson-continue-state").prop("disabled", false);
                $('#password-label').addClass('font-weight-bold')
            } else {
                $(".clickable-dice").prop("disabled", false);
                $('#result-' + rounds).find('h4').addClass('text-dk-primary font-weight-bold')
            }
        };
    </script>
{% endblock %}
