{% extends 'lesson/lesson.html' %}
{% load static %}
{% block lesson_card %}
    <div class="row row-v-h-centered" id="topCont">
        <div class="col lesson-card-bg">
            <div class="lesson-card-subtitle-light border-dk-primary">
                <ol>
                    <li>Werfe fünf Würfel und gebe das Ergebnis in das untenstehende Eingabefeld ein.</li>
                    <li>Wiederhole diesen Vorgang bis du fünf Wörter - deine Passphrase -
                        angezeigt bekommst.
                    </li>
                    <li>Dein neues, sicheres Passwort ist nun bereit für die weitere Verwendung!</li>
                </ol>
            </div>
            <div class="lesson-card-subtitle-light text-center" id="">
                <div class="lesson-card-title-light" id="round-text">Runde 1</div>
                <div class="row pt-3 justify-content-center pb-4">
                    <div class="col-1 text-center" id="dice-slh-1">
                        <i class="fas fa-dice-one fa-2x clickable-dice" id="dice-sl-1" data-dice="one"
                           style="cursor: pointer"></i>
                    </div>
                    <div class="col-1 text-center" id="dice-slh-2">
                        <i class="fas fa-dice-two fa-2x clickable-dice" id="dice-sl-2" data-dice="two"
                           style="cursor: pointer"></i>
                    </div>
                    <div class="col-1 text-center" id="dice-slh-3">
                        <i class="fas fa-dice-three fa-2x clickable-dice" id="dice-sl-3" data-dice="three"
                           style="cursor: pointer"></i>
                    </div>
                    <div class="col-1 text-center" id="dice-slh-4">
                        <i class="fas fa-dice-four fa-2x clickable-dice" id="dice-sl-4" data-dice="four"
                           style="cursor: pointer"></i>
                    </div>
                    <div class="col-1 text-center" id="dice-slh-5">
                        <i class="fas fa-dice-five fa-2x clickable-dice" id="dice-sl-5" data-dice="five"
                           style="cursor: pointer"></i>
                    </div>
                    <div class="col-1 text-center" id="dice-slh-6">
                        <i class="fas fa-dice-six fa-2x clickable-dice" id="dice-sl-6" data-dice="six"
                           style="cursor: pointer"></i>
                    </div>
                </div>
                <div class="row pt-3 justify-content-center pb-4">
                    <div class="col-auto text-center" id="dice-holder-1">
                        1.<i class="fas fa-dice-one fa-2x selected-dice" id="dice-pl-1" style="visibility: hidden "></i>
                    </div>
                    <div class="col-auto text-center" id="dice-holder-2">
                        2.<i class="fas fa-dice-one fa-2x selected-dice" id="dice-pl-2"
                             style="visibility: hidden "> </i>
                    </div>
                    <div class="col-auto text-center" id="dice-holder-3">
                        3.<i class="fas fa-dice-one fa-2x selected-dice" id="dice-pl-3" style="visibility: hidden "></i>
                    </div>
                    <div class="col-auto text-center" id="dice-holder-4">
                        4.<i class="fas fa-dice-one fa-2x selected-dice" id="dice-pl-4" style="visibility: hidden "></i>
                    </div>
                    <div class="col-auto text-center" id="dice-holder-5">
                        5.<i class="fas fa-dice-one fa-2x selected-dice" id="dice-pl-5" style="visibility: hidden "></i>
                    </div>
                </div>
                <div class="lesson-card-body-light">Passwort: <span class="text-right text-capitalize text-dk-primary "
                                                                    id="password-sentence"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-v-h-centered flex-grow-1" id="resultCont" style="display: none">
        <div class="col-auto lesson-card-bg lesson-card-subtitle-light text-center">
            <div class="lesson-card-title-light text-light border-0">Dein neues Passwort lautet:</div>
            <div class="text-dk-primary lesson-card-body-light text-center" id="passwordResult"></div>
        </div>
    </div>
{% endblock %}
{% block card_scripts %}
    <script src="{% static "lesson/diceware/js/dicewords.js" %}"></script>
    <script>
        let dicePos = 0;
        let result = "";
        let rounds = 1;
        const diceMap = {'one': '1', 'two': '2', 'three': '3', 'four': '4', 'five': '5', 'six': '6'};

        $(document).ready(function () {
            $("#lesson-continue-state").prop("disabled", true);
            $(".clickable-dice").click(diceClick)
        });

        diceClick = function () {
            if (dicePos > 6)
                return;
            dicePos++;
            console.log('test');
            const d = $(this).data("dice");
            const elem = $("#dice-pl-" + dicePos);
            elem.removeClass(function (index, className) {
                return (className.match(/(^|\s)fas-dice-\S+/g) || []).join(' ');
            }).addClass("fa-dice-" + d).css("visibility", "visible");
            elem.parent().data("value", d);
            if (dicePos === 5) {
                $(".clickable-dice").prop("disabled", true)
                findWord(getSelectedDice())
            }
        };

        getSelectedDice = function () {
            let key = "";
            $(".selected-dice").each(function () {
                key += diceMap[$(this).parent().data("value")]
            });
            return key
        };

        findWord = function (key) {
            const word = getDiceword(key).toUpperCase();
            result += " " + word;
            rounds++;
            $("#round-text").text("Runde " + rounds);
            $("#password-sentence").append(" " + word);
            setTimeout(function () {
                $(".selected-dice").css('visibility', 'hidden');
                $(".clickable-dice").prop("disabled", false)
                dicePos = 0;
            }, 5000);
            if (rounds >= 7) {
                $("#topCont").hide();
                $("#bottomCont").hide();
                $("#introCont").hide();
                $("#resultCont").show();
                $("#passwordResult").append(result);
                $("#lesson-continue-state").prop("disabled", false);
            }
        };
    </script>
{% endblock %}
