{% extends 'lesson/lesson.html' %}
{% block lesson_card %}
    <div class="row row-v-h-centered">
        <div class="col-auto">
            <h1>Warum Diceware?</h1>
            <p>Durch das Zufallsprinzip der Methode und die Länge der Passphrase wird sichergestellt, dass dein Passwort
                nicht so leicht zu erraten oder (technisch) einfach zu knacken ist. Das Problem bei selbstgewählten
                Passwörtern ist zudem oft, dass sie aus persönlichen Informationen zusammengesetzt sind, sei es z.B.
                dein Geburtsdatum, der Name deines Haustieres oder dein Lieblingsgericht. Diese Informationen sind für
                Außenstehende, die dein Passwort wollen, leicht zugänglich und stellen im Bereich der Datensicherheit
                ein großes Problem dar, siehe hierzu auch unseren Lexikoneintrag zum Thema <a
                        href="https://github.com/datenklaus-app/datenklaus_webapp/wiki/Lexikon#karte-social-engineering"><em>Social
                    Engineering</em></a>.
                Zusätzlich empfehlen wir dir die Nutzung eines <em>Passwort-Managers</em>. Die von dir gewürfelte
                Passphrase kannst du als Masterpasswort verwenden. Mehr Hinweise und Empfehlungen zur Verwendung eines
                Passwort-Managers findest du <a
                        href="https://github.com/datenklaus-app/datenklaus_webapp/wiki/Lexikon#karte-passwort-manager">hier</a>.
            </p>
        </div>
    </div>
{% endblock %}
