{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    DatenKLAUs Lexicon
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
    <style type="text/css">
        body {
            background: url('{% static "lesson/sternenhimmel.jpg" %}') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

    </style>
    <link rel="stylesheet" href="{% static 'lesson/lesson.css' %}">
    <div class="container-fluid h-100 bg-dark-st overflow-auto ">
        <div class="row">
            <div class="col-11 text-left rounded p-4 m-auto">
                <div class="w-100 text-right">
                    <input type="button" value="Zurück" class="btn btn-lg btn-danger"
                           onclick="window.history.back()"/>
                </div>
                {% include "lexicon/entry_text.html" with entry=entry %}
            </div>
        </div>

    </div>
{% endblock %}