{% extends 'base.html' %}
{% load staticfiles %}
{% load lexicon_tags %}


{% block title %}
    DatenKLAUs Lexicon
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
    <style type="text/css">
        body {
            background: url('{% static "lesson/diceware/sternenhimmel.jpg" %}') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="{% static 'lesson/lesson.css' %}">

    {% load widget_tweaks %}
    <div class="container-fluid bg-dark-st" style="min-height: 100vh">
        <div class="row">
            <div class="col pt-3 text-right">
                <a class="btn btn-outline-danger btn-lg" href="{% url "index" %}">Zurück zur Raumwahl</a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <span class="display-1 text-light">Lexikon</span>
                <hr class="border-light">
            </div>
        </div>
        <div class="row justify-content-center">
            {% for letter, titles in lexicon %}
                <div class="col-auto text-center border border-secondary rounded m-1">
                    <span class="display-4 text-light">{{ letter }}</span>
                    {% for title in titles %}
                        <div class="row p-2">
                            <div class="m-1 col-auto bg-light rounded">
                                <a class="text-dark h1 text-capitalize"
                                   href="{% url 'lex_entry' title %}">
                                    {{ title }}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}