{% extends 'student/base.html' %}
{% block content %}

<div class="container w-50">
    <div class="row justify-content-center">
            <h1 class="text-info text-center">Bist Du..</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center"><button type="button" class="btn btn-light btn-lg text-warning" onclick="window.location.href = '/student'">Schühler*in</button></div>
        <div class="col text-center"><button type="button" class="btn btn-light btn-lg text-info" onclick="window.location.href = '/teacher'">Leher*in</button></div>
    </div>
</div>
{% endblock %}