{% extends 'base.html' %}
{% block title %}
    Warte auf andere...
{% endblock %}
{% load static %}
{% block content %}
    <style type="text/css">
        body {
            background: url('{% static "lesson/diceware/sternenhimmel.jpg" %}') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="{% static 'lesson/lesson.css' %}">
    <div class="container-fluid pt-3 h-100">
        <div class="row h-auto justify-content-center">
            <div class="col-11 m-1 lesson-card-bg">
                <div class="row m-1">
                    <div class="col h1 text-light">
                        Du hast das Modul <span class="text-dk-primary">{{ lesson_title }} </span> erfolgreich
                        abgeschlossen!
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col h1 text-dk-primary text-right">
                        Warte auf Mitschüler*innen..
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col text-light">
                        <a class="position-absolute" style="top: 1.75rem; right: 1.5rem; color: #e14423" href="{% url 'lesson' %}"><i
                                class="fa fa-redo display-4 text-info"></i></a>
                        <span class="text-danger display-3"> {{ entry.title }}</span>
                        <hr class="border-light">
                        <span class="display-4">
                    {% for word in entry.description %}
                        {{ word| cut:'#' }}
                    {% endfor %}
                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include "lesson/check_status_script.html" %}
{% endblock %}