{% extends 'base.html' %}
{% block title %}
    {{ rname }}: {{ lname|lower|capfirst }}
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex flex-column h-100 pt-2">
        <div class="row">
            <div class="col align-self-center">
                <h4><span class="text-info">Raum:</span><span class="text-muted"> {{ rname }}</span></h4>
            </div>
            <div class="col text-right">
                <input type=button class="btn btn-info" value="Raum verlassen"
                       onClick="window.location.href = '{% url 'leave' %}'">
            </div>
        </div>
        <div class="row flex-grow-1">
            <div class="col h-100">
                <form class="h-100" id="card-form" action="{% url 'lesson' state %}" method="post">
                    {% csrf_token %}
                    {% block lesson_card %}{% endblock %}

                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if previous_state is not None %}
                    <input type="button" class='btn btn-warning btn-block btn-lg' value="Zurück"
                           onClick="window.location.href = '{% url 'lesson' previous_state %}'">
                {% endif %}
            </div>
            <div class="col mb-2">
                <button id="lesson-continue-state" type="submit" form="card-form"
                        class="btn btn-success btn-lg btn-block">Weiter
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% block card_scripts %}{% endblock %}
    <script>
        function check_room_status() {
            $.ajax({
                method: "POST",
                url: '/lesson/room_status',
                dataType: 'json',
                contentType: 'json',
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (data) {
                    if (data.redirect) {
                        // data.redirect contains the string URL to redirect to
                        window.location.href = data.redirect;
                    }
                    if (!data.running) {
                        // data.redirect contains the string URL to redirect to
                        window.location.href = "/lesson/";
                    }
                }
            })
        };
        check_room_status();
        setInterval(check_room_status, 1000);
    </script>
{% endblock %}
