{% extends 'base.html' %}
{% block title %}
    {{ rname }}: {{ lname|lower|capfirst }}
{% endblock %}
{% load staticfiles %}

{% block content %}
    <style type="text/css">
        body {
            background: url('{% static "lesson/diceware/sternenhimmel.jpg" %}') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="{% static 'lesson/lesson.css' %}">

    <div id="lesson" class="container-fluid">
        <div class="row lesson-header">
            <div class="col align-self-center">
                <h4><span class="text-info">Raum:</span><span class="text-light"> {{ rname }}</span></h4>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn-light text-danger" data-toggle="modal"
                        data-target="#leaveRoomModal">
                    Raum verlassen
                </button>
                <div class="modal fade bg-dark-st" id="leaveRoomModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Bist du dir sicher?</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zurück</button>
                                <button type="button" class="btn btn-danger"
                                        onClick="window.location.href = '{% url 'leave' %}'">Ja
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center lesson-content ">
            <div class="col-md-11 col-lg-10 d-flex flex-column">
                <form id="card-form" action="{% url 'lesson' state %}" method="post">
                    {% csrf_token %}
                    {% block lesson_card %}{% endblock %}
                </form>
            </div>
        </div>
        <div class="row lesson-footer">
            <div class="col">
                {% if previous_state is not None %}
                    <input type="button" class='btn btn-outline-warning bg-dark-st btn-block btn-lg'
                           value="Zurück"
                           onClick="window.location.href = '{% url 'lesson' previous_state %}'">
                {% endif %}
            </div>
            <div class="col">
                <button id="lesson-continue-state" type="submit" form="card-form"
                        class="btn btn-outline-success bg-dark-st btn-lg btn-block">Weiter
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% block card_scripts %}{% endblock %}
    <script>
        function check_room_status() {
            $.ajax({
                method: "POST",
                url: '/lesson/room_status',
                dataType: 'json',
                contentType: 'json',
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (data) {
                    if (data.redirect) {
                        // data.redirect contains the string URL to redirect to
                        window.location.href = data.redirect;
                    }
                    if (!data.running) {
                        // data.redirect contains the string URL to redirect to
                        window.location.href = "/lesson/";
                    }
                }
            })
        }

        check_room_status();
        setInterval(check_room_status, 5000);
    </script>
{% endblock %}
