{% extends 'base.html' %}
{% block title %}
    Warte auf andere...
{% endblock %}
{% load static %}
{% block content %}
    <style type="text/css">
        body {
            background: url('{% static "lesson/diceware/sternenhimmel.jpg" %}') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

    </style>
    <link rel="stylesheet" href="{% static 'lesson/lesson.css' %}">
    <div class="container-fluid pt-2 pb-2 h-100 bg-dark-st overflow-auto">
        <div class="row justify-content-center">
            <div class="col-11 ">
                <div class="row">
                    <div class="col h1 text-center text-warning m-3">
                        Gleich geht es weiter..
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col text-light">
                        <a class="position-absolute" style="top: 0.75rem; right: 1.5rem; color: #e14423"
                           href="{% url 'lesson' %}"><i
                                class="fa fa-redo display-4 text-info"></i></a>
                        {% include "lexicon/entry_text.html" with entry=entry %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include "lesson/check_status_script.html" %}
{% endblock %}