{% extends 'lesson/lesson.html' %}
{% block lesson_card %}
    <div class="bg-dark-st p-4 rounded">
        <div class="display-4 text-light border-bottom">
            Wir verbringen viel Zeit im Internet...
        </div>
        <div class="text-dk-primary display-5 pt-3">
            Um genau zu sein: 64% der Befragten befürchten, ihre Zeit durch Online-Aktivitäten zu
            verschwenden.<sup>1</sup>
        </div>
        <div class="display-6 text-light pt-2">
            Dennoch wird jedem oder jeder Zweiten ohne Internet auch gern mal schnell langweilig. Das Internet kann
            Fluch und Segen zugleich sein, besonders im Hinblick auf datenschutzrelevante Themen. Und da 69% der Meinung
            sind, in der Schule nicht ausreichend praktisches Wissen im Hinblick auf Datenschutz und Datensicherheit
            vermittelt zu bekommen, wollen wir das - gemeinsam mit euch - ändern!
        </div>
        <div class="text-light pt-4">
            <i> 1) DIVSI U25-Studie: "Euphorie war gestern. Die 'Generation
                Internet' zwischen Glück und Abhängigkeit" (2018)</i>
        </div>
    </div>
{% endblock %}