{% extends 'lesson/lesson.html' %}
{% block lesson_card %}
    <div class="bg-dark-st p-4 rounded">
        <div class="display-4 text-light border-bottom">
            Aufgepasst
        </div>
        <div class="display-6 text-light pt-2">
            Bevor wir uns aber in die Welt des Datenklaus begeben, um uns spannendes Internet-Wissen anzueignen, wollen
            wir zum Einstieg von dir bzw. euch wissen, wie oft und wofür ihr das Internet nutzt und wie ihr zu eurem
            Nutzungsverhalten steht. Die Angaben werden anonymisiert verarbeitet und dienen im Anschluss als Grundlage
            für eine gemeinsame Diskussion im Klassenplenum.
        </div>
    </div>
{% endblock %}